/* Back-end css */
i.mce-i-icon {
    font: 400 20px/1 dashicons;
	color: #e02b20 !important;
    padding: 0;
    vertical-align: top;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}

/* Front-end */
.dataTables_wrapper {
	overflow-y: hidden;
    overflow-x: auto;
}

.dataTables_wrapper div.row {
	margin-right: 0;
}

table.dataTable {
	table-layout: initial;
}

.dataTables_wrapper select:focus {
    -webkit-appearance: menulist;
}

div[id^=bgSortTable] div.col-sm-6 {
	z-index: 1000;
}